/* Website Colors:
    Lime Green - #A8CD1B
*/

/* Page Settings */
body {
  background:          #FFFFFF;
  position:            fixed;
  left:                0;
  right:               0;
  top:                 0;
  bottom:              0;
  margin:              0;
  padding:             0;
  min-height:          29em;
  min-width:           33em;
  
  font-size:           100%;
  color:               #000000;
  font-family:         Arial, sans-serif;
  text-align:          left;
  
} a {
  color:               inherit;
  text-decoration:     none;
  
} header, nav, main, footer {
  display:             block;
  position:            relative;
  
}

/* Header */
header .title {
	display: inline-block;
	padding:    .5em;
} header .title * {
	display: inline-block;
	vertical-align:      bottom;
} header h1 {
    display:             inline-block;
    height:              100%;
	padding:             .3em 0;
	
	color:               #A8CD1B;
	text-align:          left;
	font-size:           3em;
	
} header .title img {
	width:               5em;
	height:              auto;
	display:             inline-block;
	
} header nav {
    display:             inline-block;
    position:            absolute;
    top:                 0;
	right:               0;
	padding:             .75em;
	
	text-align:          right;
	
} header nav a {
    display:             inline-block;
    margin:              .75em 0em;
    padding:             .25em;
	
	border-left:        .15em solid #A8CD1B;
	text-align:          left;
    font-size:           1.5em;
	
} header nav a:hover {
	color:               #A8CD1B;
} 

/* Main */
main {
    border-top:          .05em solid #A8CD1B;
    border-bottom:       .05em solid #A8CD1B;
	padding:             1em;
	line-height:         1.5;
}

/* Footer */
